<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light-login border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Название сайта</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="max-width:96px" class="nav-link text-dark text-center" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/icons8-home-page-96.png" class="col-12" /><span>Главная</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a style="max-width:96px" class="nav-link text-dark text-center" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/icons8-save-96.png" class="col-12" /><span>Ссылка1</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a style="max-width:96px" class="nav-link text-dark text-center" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/icons8-user-male-96.png" class="col-12" /><span>Ссылка2</span>
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted  bg-light-login">
        <div class="container">
            &copy; 2021 - FProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
  

   
</body>
</html>
