@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">



        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-home mb-3">
                <a href="https://anketa.iro23.ru" class="block-style-a">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ФЭМП</h5>
                                <p class="card-text">Какое то описание</p>

                            </div>

                        </div>

                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-home mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Грамота</h5>
                            <p class="card-text">Какое то описание</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-home mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Внимание и память</h5>
                            <p class="card-text">Какое то описание</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-home mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Логика</h5>
                            <p class="card-text">Какое то описание</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-home mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Воображение</h5>
                            <p class="card-text">Какое то описание</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-home mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок карточки</h5>
                            <p class="card-text">Какое то описание</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
